---
import Layout from '../layouts/Layout.astro';
import WeaponsTable from '../components/rules/weapons/WeaponsTable.astro';
import CrafterTools from '../components/rules/tools/CrafterTools.astro';
---

<Layout title="D&D 5E Guide - FAQ">
  <div class="content">
    <h1>FAQ</h1>
    
    <div class="faq-container">
      <details class="faq-item">
        <summary>Какие инструменты доступны для ремесла?</summary>
        <div class="faq-content">
          <p>Подробные правила использования инструментов описаны в разделе <a href="/rules/downtime-activities#crafting">Создание снаряжения</a>.</p>
          <CrafterTools />
        </div>
      </details>

      <details class="faq-item">
        <summary>Какое оружие доступно в игре?</summary>
        <div class="faq-content">
          <WeaponsTable />
        </div>
      </details>

      <details class="faq-item">
        <summary>Какие виды доступны для игры?</summary>
        <div class="faq-content">
          <p>Полный список доступных видов и их описания можно найти в разделе <a href="/races">Виды</a>.</p>
          <div class="species-table">
            <table>
              <thead>
                <tr>
                  <th>Вид/Происхождение</th>
                  <th>Размер</th>
                  <th>Источник</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Ааракокра</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Аасимар</td><td>Маленький/Средний</td><td>PHB '24</td></tr>
                <tr><td>Автогном</td><td>Маленький</td><td>AAG</td></tr>
                <tr><td>Багбир</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Кентавр</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Изменяющийся</td><td>Маленький/Средний</td><td>MPMM</td></tr>
                <tr><td>Своё происхождение</td><td>Маленький/Средний</td><td>TCE</td></tr>
                <tr><td>Дампир</td><td>Маленький/Средний</td><td>VRGR</td></tr>
                <tr><td>Драконорождённый</td><td>Средний</td><td>PHB '24</td></tr>
                <tr><td>Дварф</td><td>Средний</td><td>PHB '24</td></tr>
                <tr><td>Эладрин</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Эльф</td><td>Средний</td><td>PHB '24</td></tr>
                <tr><td>Фея</td><td>Маленький</td><td>MPMM</td></tr>
                <tr><td>Фирболг</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Дженази</td><td>Маленький/Средний</td><td>MPMM</td></tr>
                <tr><td>Гифф</td><td>Средний</td><td>AAG</td></tr>
                <tr><td>Гит</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Гном</td><td>Маленький</td><td>PHB '24</td></tr>
                <tr><td>Гоблин</td><td>Маленький</td><td>MPMM</td></tr>
                <tr><td>Голиаф</td><td>Средний</td><td>PHB '24</td></tr>
                <tr><td>Грунг</td><td>Маленький</td><td>OGA</td></tr>
                <tr><td>Хадози</td><td>Маленький/Средний</td><td>AAG</td></tr>
                <tr><td>Полуэльф</td><td>Средний</td><td>PHB '14</td></tr>
                <tr><td>Полуорк</td><td>Средний</td><td>PHB '14</td></tr>
                <tr><td>Полурослик</td><td>Маленький</td><td>PHB '24</td></tr>
                <tr><td>Харенгон</td><td>Маленький/Средний</td><td>MPMM</td></tr>
                <tr><td>Порчекровный</td><td>Маленький/Средний</td><td>VRGR</td></tr>
                <tr><td>Хобгоблин</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Человек</td><td>Маленький/Средний</td><td>PHB '24</td></tr>
                <tr><td>Калаштар</td><td>Средний</td><td>ERLW</td></tr>
                <tr><td>Кендер</td><td>Маленький</td><td>DSotDQ</td></tr>
                <tr><td>Кенку</td><td>Маленький/Средний</td><td>MPMM</td></tr>
                <tr><td>Кобольд</td><td>Маленький</td><td>MPMM</td></tr>
                <tr><td>Леонин</td><td>Средний</td><td>MOT</td></tr>
                <tr><td>Ящеролюд</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Локата</td><td>Средний</td><td>LR</td></tr>
                <tr><td>Локсодон</td><td>Средний</td><td>GGR</td></tr>
                <tr><td>Минотавр</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Орк</td><td>Средний</td><td>PHB '24</td></tr>
                <tr><td>Совлин</td><td>Маленький/Средний</td><td>SCC</td></tr>
                <tr><td>Плазмоид</td><td>Маленький/Средний</td><td>AAG</td></tr>
                <tr><td>Возрождённый</td><td>Маленький/Средний</td><td>VRGR</td></tr>
                <tr><td>Сатир</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Шифтер</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Гибрид симиков</td><td>Средний</td><td>GGR</td></tr>
                <tr><td>Табакси</td><td>Маленький/Средний</td><td>MPMM</td></tr>
                <tr><td>Три-крин</td><td>Маленький/Средний</td><td>AAG</td></tr>
                <tr><td>Тифлинг</td><td>Маленький/Средний</td><td>PHB '24</td></tr>
                <tr><td>Тортл</td><td>Маленький/Средний</td><td>MPMM</td></tr>
                <tr><td>Тритон</td><td>Средний</td><td>MPMM</td></tr>
                <tr><td>Ведалкен</td><td>Средний</td><td>GGR</td></tr>
                <tr><td>Вердан</td><td>Варьируется</td><td>AI</td></tr>
                <tr><td>Кованый</td><td>Средний</td><td>ERLW</td></tr>
                <tr><td>Юань-Ти</td><td>Маленький/Средний</td><td>MPMM</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </details>

      <details class="faq-item">
        <summary>Безделушки</summary>
        <div class="faq-content">
          <p><a href="/character-guide">Когда вы создаёте своего персонажа</a>, вы можете 1 раз сделать бросок по таблице «Безделушки», чтобы получить безделушку (простой предмет, окутанный лёгкой тайной). Мастер также может использовать эту таблицу. Она может помочь наполнить комнату в подземелье или заполнить карманы существа.</p>
          <div class="species-table">
            <table>
              <thead>
                <tr>
                  <th>1к100</th>
                  <th>Безделушка</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>1</td><td>Мумифицированная рука гоблина</td></tr>
                <tr><td>2</td><td>Кристалл, который слабо светится в лунном свете</td></tr>
                <tr><td>3</td><td>Золотая монета, отчеканенная в неизвестной стране</td></tr>
                <tr><td>4</td><td>Дневник, написанный на неизвестном вам языке</td></tr>
                <tr><td>5</td><td>Латунное кольцо, которое не темнеет со временем</td></tr>
                <tr><td>6</td><td>Старая стеклянная шахматная фигура</td></tr>
                <tr><td>7</td><td>Пара игральных костей, у обеих вместо шестёрок нарисованы черепа</td></tr>
                <tr><td>8</td><td>Небольшой идол, изображающий страшное чудовище, насылающий кошмары, когда вы спите рядом с ним</td></tr>
                <tr><td>9</td><td>Прядь чьих-то волос</td></tr>
                <tr><td>10</td><td>Квитанция для получения посылки в неизвестном вам королевстве</td></tr>
                <tr><td>11</td><td>30-граммовый кусочек неизвестного материала</td></tr>
                <tr><td>12</td><td>Маленькая тряпичная кукла, утыканная иголками</td></tr>
                <tr><td>13</td><td>Зуб неизвестного зверя</td></tr>
                <tr><td>14</td><td>Внушительная чешуйка, возможно, драконья</td></tr>
                <tr><td>15</td><td>Ярко-зелёное перо</td></tr>
                <tr><td>16</td><td>Старая гадальная карта с лицом, похожим на ваше</td></tr>
                <tr><td>17</td><td>Стеклянная сфера, заполненная дымом</td></tr>
                <tr><td>18</td><td>Полукилограммовое яйцо с ярко-красной скорлупой</td></tr>
                <tr><td>19</td><td>Курительная трубка, из которой вылетают пузыри</td></tr>
                <tr><td>20</td><td>Стеклянный графин с кусочком мяса, плавающим в рассоле</td></tr>
                <tr><td>21</td><td>Музыкальная шкатулка гномьей работы, наигрывающая мелодию, напоминающую вам о детстве</td></tr>
                <tr><td>22</td><td>Деревянная статуэтка нарядного полурослика</td></tr>
                <tr><td>23</td><td>Латунная сфера, покрытая странными рунами</td></tr>
                <tr><td>24</td><td>Разноцветный каменный диск</td></tr>
                <tr><td>25</td><td>Серебряное изображение ворона</td></tr>
                <tr><td>26</td><td>Сумка, в которой лежат 47 зубов. Один с кариесом</td></tr>
                <tr><td>27</td><td>Кусок обсидиана, всегда тёплый на ощупь></td></tr>
                <tr><td>28</td><td>Коготь дракона, подвешенный на простом кожаном шнурке</td></tr>
                <tr><td>29</td><td>Пара старых носков</td></tr>
                <tr><td>30</td><td>Чистая книга, на страницах которой не получается писать ни чернилами, ни мелом, ни углём, и никакими другими обычными средствами</td></tr>
                <tr><td>31</td><td>Серебряный значок в форме пятиконечной звёзды</td></tr>
                <tr><td>32</td><td>Нож, принадлежавший родственнику</td></tr>
                <tr><td>33</td><td>Стеклянный флакон с обрезками ногтей</td></tr>
                <tr><td>34</td><td>Прямоугольное металлическое устройство с двумя крошечными металлическими колпачками на одной стороне. Если его намочить, оно сыпет искры</td></tr>
                <tr><td>35</td><td>Белые перчатки с блёстками</td></tr>
                <tr><td>36</td><td>Одеяние с сотней крохотных карманов</td></tr>
                <tr><td>37</td><td>Невесомый камень</td></tr>
                <tr><td>38</td><td>Зарисовка гоблина</td></tr>
                <tr><td>39</td><td>Пустой флакон, пахнущий духами при открытии</td></tr>
                <tr><td>40</td><td>Драгоценный камень, который всем кроме вас кажется куском угля</td></tr>
                <tr><td>41</td><td>Кусок старого знамени</td></tr>
                <tr><td>42</td><td>Знак различия древнего легиона</td></tr>
                <tr><td>43</td><td>Серебряный колокольчик без язычка</td></tr>
                <tr><td>44</td><td>Механическая канарейка в лампе</td></tr>
                <tr><td>45</td><td>Минюатюрный сундук, вырезанный так, что кажется, что у него невероятно глубокое дно</td></tr>
                <tr><td>46</td><td>Мёртвый спрайт в чистой стеклянной бутылке</td></tr>
                <tr><td>47</td><td>Запаянная металлическая банка, в которой, судя по звукам, находится жидкость, песок, пауки или битое стекло (на ваш выбор)</td></tr>
                <tr><td>48</td><td>Стеклянная сфера с водой, в которой плавает механическая золотая рыбка</td></tr>
                <tr><td>49</td><td>Серебряная ложка с выгравированной на ручке буквой «М»</td></tr>
                <tr><td>50</td><td>Свисток из дерева золотого цвета</td></tr>
                <tr><td>51</td><td>Мёртвый скарабей размером с ладонь</td></tr>
                <tr><td>52</td><td>Два игрушечных солдатика, один без головы</td></tr>
                <tr><td>53</td><td>Небольшая коробка с пуговицами разного размера</td></tr>
                <tr><td>54</td><td>Свеча, которая никак не загорается</td></tr>
                <tr><td>55</td><td>Миниатюрная клетка без двери</td></tr>
                <tr><td>56</td><td>Старый ключ</td></tr>
                <tr><td>57</td><td>Не поддающаяся расшифровке карта сокровищ</td></tr>
                <tr><td>58</td><td>Рукоятка от сломанного меча</td></tr>
                <tr><td>59</td><td>Кроличья лапка</td></tr>
                <tr><td>60</td><td>Стеклянный глаз</td></tr>
                <tr><td>61</td><td>Камея с изображением уродливого лица</td></tr>
                <tr><td>62</td><td>Серебряный череп размером с монету</td></tr>
                <tr><td>63</td><td>Алебастровая маска</td></tr>
                <tr><td>64</td><td>Конус клейкого чёрного дурно пахнущего благовония</td></tr>
                <tr><td>65</td><td>Ночной колпак, дарующий приятные сны, когда вы его носите</td></tr>
                <tr><td>66</td><td>Один костяной калтроп</td></tr>
                <tr><td>67</td><td>Золотая оправа монокля без линзы</td></tr>
                <tr><td>68</td><td>Кубик с длиной ребра 2 сантиметра, все стороны разного цвета</td></tr>
                <tr><td>69</td><td>Хрустальная дверная ручка</td></tr>
                <tr><td>70</td><td>Пакетик розовой пыли</td></tr>
                <tr><td>71</td><td>Два листа пергамента с фрагментом нот прекрасной песни</td></tr>
                <tr><td>72</td><td>Серебряная серьга в виде слезинки, сделанная из настоящей слезинки</td></tr>
                <tr><td>73</td><td>Яичная скорлупа, разрисованная сценами страданий в тревожных деталях</td></tr>
                <tr><td>74</td><td>Веер, на котором в раскрытом состоянии видно спящую кошку</td></tr>
                <tr><td>75</td><td>Набор костяных трубочек</td></tr>
                <tr><td>76</td><td>Четырёхлистный клевер, засушенный в книге о манерах и этикете</td></tr>
                <tr><td>77</td><td>Лист пергамента, на котором изображена сложная механическая конструкция</td></tr>
                <tr><td>78</td><td>Разукрашенные ножны, под которые не подходят ни к одному клинку, что вы нашли</td></tr>
                <tr><td>79</td><td>Приглашение на вечеринку, на которой произошло убийство</td></tr>
                <tr><td>80</td><td>Бронзовая пентаграмма с выгравированной в центре крысиной головой</td></tr>
                <tr><td>81</td><td>Фиолетовый носовой платок с вышитым именем архимага</td></tr>
                <tr><td>82</td><td>Фиолетовый носовой платок с вышитым именем архимага</td></tr>
                <tr><td>83</td><td>Кусочек сложенной ткани, который, если развернуть, превращается в модную кепку</td></tr>
                <tr><td>84</td><td>Квитанция о депозите в банке далёкого города</td></tr>
                <tr><td>85</td><td>Дневник, в котором не хватает семь страниц</td></tr>
                <tr><td>86</td><td>Пустая серебряная табакерка с надписью на крышке «Грёзы»</td></tr>
                <tr><td>87</td><td>Железный священный символ неизвестного божества</td></tr>
                <tr><td>88</td><td>Книга о восхождении и свержении легендарного героя, в которой нет последней главы</td></tr>
                <tr><td>89</td><td>Сосуд с драконьей кровью</td></tr>
                <tr><td>90</td><td>Древняя эльфийская стрела</td></tr>
                <tr><td>91</td><td>Иголка, которая никогда не гнётся</td></tr>
                <tr><td>92</td><td>Красивая дварфская брошь</td></tr>
                <tr><td>93</td><td>Пустая бутылка из-под вина с небольшой наклейкой «Винокурня Винного Волшебника, Красное драконье, 331422-В»</td></tr>
                <tr><td>94</td><td>Плитка мозаики с разноцветной глазированной поверхностью</td></tr>
                <tr><td>95</td><td>Окаменевшая мышь</td></tr>
                <tr><td>96</td><td>Чёрный пиратский флаг с черепом и костями дракона</td></tr>
                <tr><td>97</td><td>Крохотный металлический краб или паук, который двигается, когда на него не смотрят</td></tr>
                <tr><td>98</td><td>Стеклянная бутылка с топлёным салом и этикеткой «Жир грифона»</td></tr>
                <tr><td>99</td><td>Деревянная коробка с керамическим дном, в которой живёт червяк с двумя головами на каждом конце тела</td></tr>
                <tr><td>100</td><td>Металлическая урна с прахом героя</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </details>

    </div>
  </div>
</Layout>

<style>
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .faq-container {
    margin-top: 2rem;
  }

  .faq-item {
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .faq-item summary {
    padding: 1rem;
    cursor: pointer;
    font-weight: 600;
  }

  .faq-content {
    padding: 1rem;
    border-top: 1px solid var(--card-border);
  }

  .faq-content ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }

  .faq-content li {
    margin-bottom: 0.5rem;
  }
  
  .faq-content a {
    color: var(--primary);
    text-decoration: none;
  }

  .faq-content a:hover {
    text-decoration: underline;
  }

  .species-table {
    margin-top: 1rem;
    overflow-x: auto;
  }

  .species-table table {
    width: 100%;
    border-collapse: collapse;
  }

  .species-table th,
  .species-table td {
    padding: 0.5rem;
    border: 1px solid var(--card-border);
    text-align: left;
  }

  .species-table th {
    background: var(--background);
    font-weight: 600;
  }

  .species-table tr:nth-child(even) {
    background: var(--background);
  }
</style>