---
import Layout from '../layouts/Layout.astro';
import GeneralRules from '../components/rules/general/GeneralRules.astro';

---

<Layout title="D&D 5E Guide - Общие правила">
  <div class="content">
    <h1>Общие правила</h1>
    <GeneralRules />
  </div>
</Layout>

<style>
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
</style>